.ItemSection {
  width: 100%;
  display: flex;
  height: 35vh;
}

.item-collection {
  flex: 3.5;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 20px 10px;
  overflow-x: auto;
}

.item-collection > .item-button {
  min-width: 100px;
  background-color: darksalmon;
  border-radius: 5px;
  box-shadow: 3px 3px 3px black;
  padding: 5px;
  color: black;
  margin: 5px 10px;
}

.item-collection > .add-item-button {
  width: 20px;
  background-color: slateblue;
  color: black;
  margin: 15px 20px;
  font-weight: bold;
  padding: 5px;
  border-radius: 50%;
  border: none;
  box-shadow: 3px 3px 3px black;
  outline: none;
}

.item-collection > .item-button:hover, .add-item-button:hover {
  background-color: white;
  cursor: pointer;
}

.item-create {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0px 30px;
}

.item-create > input {
  background-color: transparent;
  color: wheat;
  outline: none;
  border: none;
  border-bottom: 1px solid wheat;
  padding: 5px;
}

.item-create > input::placeholder {
  color: wheat;
  font-size: 10px;
  text-align: center;
}

.item-create > .input-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.item-create > .input-group > label {
  margin-left: 15px;
}

.item-create > .button-group button {
  background-color: transparent;
  border: 1px solid wheat;
  outline: none;
  padding: 3px;
  color: wheat;
}

.item-create > .button-group button:hover {
  background-color: wheat;
  color: black;
  cursor: pointer;
}

.active-button {
  background-color: white;
}