.section-nav {
  display: flex;
  justify-content: space-around;
}

.section-route {
  text-decoration: none;
  background-color: salmon;
  border-radius: 5px;
  color: black;
  padding: 5px;
  box-shadow: 5px 5px 5px black;
}

.section-route:hover {
  background-color: white;
  color: black;
}

.selected-section-route {
  background-color: white;
  color: black;
}